$verde:#18bc9c
$azul:#2c3e50
$font:Montserrat
@import header.sass
@import body.sass
@import footer.sass

*
	font-family: $font

.fondoazul
	background-color: $azul
	color: white

.fondoverde
	background-color: $verde
	color: white
